*{
  --container-width: 30em;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.carousel-container{
  display:flex;
  height: 300px;
  width: var(--container-width);
  overflow-x: scroll;
}

.grab{
  cursor: grab;
  scroll-snap-type: x mandatory;
}

.grabbing{
  cursor: grabbing;
  scroll-snap-type: none;
}

.carousel-container div{
  background-color: black;
  min-width: var(--container-width);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

div.carousel-container div:nth-child(2n){
  background-color: grey;
}

.carousel-container::-webkit-scrollbar{
  display: none;
}

fieldset{
  border: none;
  background-color: rgba(255, 255, 255, 0.253);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  bottom: 1;
  padding: 0;
  padding-inline: 3px;
  margin: 0;
}

fieldset input{
  appearance: none;
  border: 1px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

fieldset input:checked{
  background-color: rgb(123, 187, 209);
}

fieldset input:hover:not(:checked){
  background-color: rgb(122, 122, 122);
}

.container{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}